body{
    position: relative;
    z-index: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: -moz-linear-gradient(#5FC2E3, rgb(73, 34, 247), rgb(134, 175, 236));
   background: -o-linear-gradient(#5FC2E3, rgb(73, 34, 247), rgb(134, 175, 236));
   background: -webkit-linear-gradient(#5FC2E3, rgb(73, 34, 247), rgb(134, 175, 236));
   background-size: 100% 100%;    
}

body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/oceanPattern.jpg"); 
    background-size: 40% 100%;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

h1, h2, h4, h5{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2{
    color:rgb(69, 121, 235);
}

h4{
    color: white;
}

.nav-w{
    margin: 0 auto; 
    width: 960px;
}

span.navbg:link { color: #777777; }
span.navbg:visited { color: gray; }
span.navbg:hover { 
    color: #ffffff;
    font-style: italic; 
    font-size: 1.1em;
    padding: 8px;
    background-color: rgb(69, 121, 235);
    border-radius: 5px;
}
span.navbg:active { color: white; }

.rounded{
    margin: 0 auto;
    width: 960px;
}

.mePhoto{
    margin-right: 20px;
}

.titleBox{
    box-sizing: border-box;
    background: rgb(69, 121, 235);
    width:150px;
    height:70px;   
}

.fab{
    font-size: 1.3em;
}

.img-fluid{
    height: 180px;
    left: 7px;
    position: relative;
}

.caption {
    box-sizing: border-box;
    position: relative;
    bottom: 60px;
    background: rgb(69, 121, 235);
    width:95%;
    height:50px;
    text-align: center;
    color: white;
    z-index: 1;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.3em;
    padding-top: 5px;
    line-height: 1.1em;
    left: 7px;
}

.caption a{
    color: white;
}

.github{
    font-size: 0.7em;
}

.dropdown{
    display: none;
}

.dropdown p{
    color: white;
    text-align: center;
}

.thumbnail{
    padding: 10px;
    width: 300px;
    
}

.thumbnail:hover{
    border: 5px solid blue;
}
/*
.thumbnail:hover .img-fluid{
    outline: 5px solid rgb(73, 34, 247);
    outline-offset: 1px;
  }
*/
.label{
    text-decoration: underline;
}


footer{
    background: #666666;
    border-top: 5px solid rgb(73, 34, 247);
    bottom: 0px;
    width: 100%;
}

@media(max-width:768px){
    .line{
        display:none;  
    }
    .navbar-toggler{
        float: right;
    }
}

@media(max-width: 576px){
    .thumbnail{
        width:85%;
        margin: 0 auto;
    }
    .card-body p{
        margin-bottom: 3rem;
    }
    .card-body p.last{
        margin-bottom:1rem;
    }
}

@media(min-width: 992px){
    .container{
        max-width: 100%;
    }
}

@media(max-width: 992px){
    .container, .rounded, .p{
        max-width:100%;
        height: 100%;
        padding: 0px;
    }
    .float-left{
        position: static;
    }
    .disappear{
        display: none;
    }
}



