body{
    background: #dddddd;
}

.nav-w{
    margin: 0 auto; 
    width: 960px;
}

.rounded{
    margin: 0 auto;
    width: 960px;
}

.titleBox{
    box-sizing: border-box;
    background: #4aaaa5;
    width:150px;
    height:70px;
    color: white;   
}

.caption {
    box-sizing: border-box;
    position: relative;
    bottom: 52px;
    background: #4aaaa5;
    width:95%;
    height:40px;
    text-align: center;
    color: white;
    z-index: 1;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.1em;
    padding-top: 8px;
}

footer{
    background: #666666;
    border-top: 5px solid #4aaaa5;
    bottom: 0px;
}

@media(max-width:768px){
    .line{
        display:none;
        
    }
}

